<div class="user-details">
  <h1> My Shelf </h1>
</div>

<script>
  const paddingLeft=15;
  const gapSize = 10;
  
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  //ev.target.appendChild(document.getElementById(data));
  console.log(data);
}
</script>

<div ondrop="drop(event)" ondragover="allowDrop(event)" class="shelf read">
  <ul class="books clearfix">
    {% for item in (site.data.yaml.bookshelf-read reversed) %}
    <li id="{{ item.title | replace: ' ','_' }}" class="book">
      <img draggable="true" ondragstart="drag(event)"  class="front" src="{{ site.baseBookshelfUrl }}/assets/img/{{ item.image }}" alt="{{ item.title }}">
      <div class="back" onclick="" id="read_{{ item.title | replace: ' ','_' }}">
        <div class="p0">
          <span class="score"><span id="rating_{{ item.title | replace: ' ','_' }}"></span></span>
          <script>
            var span = document.getElementById("rating_{{ item.title | replace: ' ','_' }}");
            var rating = {{ item.amazon-rating }};
            var starWidth = (span.offsetWidth - paddingLeft - (5*gapSize))/5.0;
            var gaps = Math.floor(rating);
            var width = (rating * starWidth) + (gaps * gapSize);
            span.style.width = `${width}px`;
            span.title={{ item.amazon-rating }} +" out of 5";
          </script>
          <dl class="p10">
            <dt>Title:</dt>
            <dd>{{ item.title }}</dd>
            <dt>Author:</dt>
            <dd>{{ item.author }}</dd>
            <dt>Released:</dt>
            <dd>{{ item.release-date }}</dd>
          </dl>
          <p class="description">
            {{ item.description  | truncatewords: 20}}
          </p>
          <a href="{{item.link}}" target="_blank">Amazon Link</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div ondrop="drop(event)" ondragover="allowDrop(event)" class="shelf reading">
  <ul class="books clearfix">
    {% for item in (site.data.yaml.bookshelf-reading reversed) %}
    <li id="{{ item.title | replace: ' ','_' }}" class="book">
      <img draggable="true" ondragstart="drag(event)" class="front" src="{{ site.baseBookshelfUrl }}/assets/img/{{ item.image }}" alt="{{ item.title }}">
      <div class="back" onclick="" id="reading_{{ item.title | replace: ' ','_' }}">
        <div class="p0">
          <span class="score"><span id="rating_{{ item.title | replace: ' ','_' }}"></span></span>
          <script>
            var span = document.getElementById("rating_{{ item.title | replace: ' ','_' }}");
            var rating = {{ item.amazon-rating }};
            var starWidth = (span.offsetWidth - paddingLeft - (5*gapSize))/5.0;
            var gaps = Math.floor(rating);
            var width = (rating * starWidth) + (gaps * gapSize);
            span.style.width = `${width}px`;
            span.title={{ item.amazon-rating }} +" out of 5";
          </script>
          <dl class="p10">
            <dt>Title:</dt>
            <dd>{{ item.title }}</dd>
            <dt>Author:</dt>
            <dd>{{ item.author }}</dd>
            <dt>Released:</dt>
            <dd>{{ item.release-date }}</dd>
          </dl>
          <p class="description">
            {{ item.description  | truncatewords: 20}}
          </p>
          <a href="{{item.link}}" target="_blank">Amazon Link</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div ondrop="drop(event)" ondragover="allowDrop(event)" class="shelf ondeck">
  <ul class="books clearfix">
    {% for item in (site.data.yaml.bookshelf-ondeck reversed) %}
    <li id="{{ item.title | replace: ' ','_' }}" class="book">
      <img draggable="true" ondragstart="drag(event)"  class="front" src="{{ site.baseBookshelfUrl }}/assets/img/{{ item.image }}" alt="{{ item.title }}">
      <div class="back" onclick="" id="ondeck_{{ item.title | replace: ' ','_' }}">
        <div class="p0">
          <span class="score"><span id="rating_{{ item.title | replace: ' ','_' }}"></span></span>
          <script>
            var span = document.getElementById("rating_{{ item.title | replace: ' ','_' }}");
            var rating = {{ item.amazon-rating }};
            var starWidth = (span.offsetWidth - paddingLeft - (5*gapSize))/5.0;
            var gaps = Math.floor(rating);
            var width = (rating * starWidth) + (gaps * gapSize);
            span.style.width = `${width}px`;
            span.title={{ item.amazon-rating }} +" out of 5";
          </script>
          <dl class="p10">
            <dt>Title:</dt>
            <dd>{{ item.title }}</dd>
            <dt>Author:</dt>
            <dd>{{ item.author }}</dd>
            <dt>Released:</dt>
            <dd>{{ item.release-date }}</dd>
          </dl>
          <p class="description">
            {{ item.description  | truncatewords: 20}}
          </p>
          <a href="{{item.link}}" target="_blank">Amazon Link</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

</div>
